extends layout

mixin link(href, name)
  //- attributes == {class: "btn"}
  a(class!=attributes.class href=href)= name

block content
  h1= title
  p Welcome to #{title}
  block pages
    table
    each page in pagelist
      +link('/page/' + page.name, page.name)
      br
