doctype html
html
    head
        title= pagelist[0].pageName
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    body
        block content
            table
            each page in pagelist
                tr#page_list_item
                    td!= page.content